{% extends "base2.html" %}
{% block title %}歡迎光臨我的部落格{% endblock title %}

{% block headmessage %} 
<h3 style='font-family:標楷體;'>本站文章列表</a>
        hour: {{ hour }} {% comment %} 在views.py內定義hour {% endcomment %}
    {% if hour > 18 %} {% comment %} 如果時間大於18點的話顯示晚安 {% endcomment %}
    晚安
    {% elif hour < 10 %}
    早安
    {% else %}
    你好
    {% endif %}
{% endblock headmessage %}

{% block content %}
測試<a href='{% url 'post-url' 2015 10 3 02 %}'>show POST</a> {% comment %} 回傳給urls.py內path的post {% endcomment %}

{% for post in posts %}
<div class='card'>
    <div class='card-header'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            {% comment %} 網址是寫死的 {% endcomment %}
            {% comment %} <a href='/post/{{post.slug}}'>{{ post.title }}</a> {% endcomment %}
            {% comment %} 網址是活的 會更著更改 {% endcomment %}
            <a href='{% url 'showpost' post.slug %}'>{{ post.title }}</a>
        </p>
    </div>
    <div class='card-body' style='background-color:#add8e6'>
        <p>
           {{ post.body | truncatechars:40 }}
        </p>
    </div>
    <div class='card-footer'  style='background-color:#efefef'>
        <p>
            發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}
        </p>
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}

{% comment %} <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>歡迎光臨部落客</h1>
        <hr>
        {% for post in posts %}  <!--語法用{}包起來 跑回圈 -->
        <p style="font-family:微軟正黑體;font-size:14pt;font-weight:bold;">
            <a href="/post/{{post.slug}}">{{post.title}}</a>
        </p>
        {% endfor %}
        <hr>
        現在時間: {{ now }}
        <script src="" async defer></script>
    </body>
</html> {% endcomment %}